<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xrluo.day02.mapper.DeptMapper">

    <resultMap id="BaseResultMap" type="com.xrluo.day02.domain.Dept">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
            <result property="orderNum" column="order_num" jdbcType="DOUBLE"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,dept_name,
        order_num,create_time,modify_time
    </sql>
</mapper>
